absl-py==0.7.0
apipkg==1.5
astor==0.7.1
atomicwrites==1.3.0
attrs==18.2.0
beautifulsoup4==4.7.1
bleach==3.1.4
certifi==2018.11.29
chardet==3.0.4
codecov==2.0.15
coverage==4.5.2
cymem==1.31.2
cytoolz==0.8.2
dill==0.2.9
diskcache==3.1.1
Django==1.9
docopt==0.6.2
en-core-web-sm==1.2.0
execnet==1.5.0
ftfy==4.4.3
gast==0.2.2
grpcio==1.18.0
h5py==2.9.0
html5lib==1.0.1
idna==2.8
jsonpickle==0.9.6
jsonschema==2.6.0
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
Markdown==3.0.1
more-itertools==5.0.0
munch==2.3.2
murmurhash==0.26.4
newsapi-python==0.2.3
nltk==3.4
numpy==1.16.1
oauthlib==3.0.1
parse==1.11.1
pathlib==1.0.1
pep8==1.7.1
plac==0.9.6
pluggy==0.8.1
preshed==1.0.1
progressbar==2.5
progressbar2==3.39.2
protobuf==3.6.1
py==1.7.0
PySocks==1.6.8
pytest==4.2.0
pytest-cache==1.0
pytest-cov==2.6.1
pytest-forked==1.0.1
pytest-pep8==1.0.6
pytest-runner==4.2
pytest-xdist==1.26.1
python-utils==2.3.0
PyYAML==3.13
regex==2017.11.9
requests==2.21.0
requests-oauthlib==1.2.0
sacred==0.7.2
scikit-learn==0.20.2
scipy==1.2.1
singledispatch==3.4.0.3
six==1.12.0
sklearn==0.0
soupsieve==1.7.3
spacy==1.9.0
SQLAlchemy==1.2.17
tensorboard==1.8.0
tensorflow==1.8.0
termcolor==1.1.0
textblob==0.15.2
thinc==6.5.2
toolz==0.9.0
tqdm==4.31.0
tweepy==3.7.0
typing==3.6.6
ujson==1.35
urllib3==1.24.1
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
wikipedia==1.4.0
wrapt==1.11.1
